.main { 
  display: flex;
  flex-direction: column;
  /* justify-content: space-between;  */
  /* align-items: center; */
}

.background {
  background-image: url('/cica01.jpg');
  opacity: 0.2;
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-size: cover;
  background-position: top;
  z-index: -1;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: 1rem;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(20px);
  font-family: var(--font-mono);
  z-index: 1;
}
.description h1 {
  padding-top: 3rem;
}
.description p {
  padding: 3rem;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  opacity: 1.0;
  height: 100vh;
  width: 80vw;
  --max-width: 1100px;
  padding-left: 6rem;
  padding-right: 6rem;
  right: 10vw;
  position: absolute;
  z-index: 1;
}

.top {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  /* padding: 4rem 0; */
}

.grid {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;  grid-template-columns: repeat(4, minmax(25%, auto));
  margin-bottom: 3rem;
  max-width: 100%;
  width: var(--max-width);
}

.card {
  padding: 1rem 1.2rem;
  border-radius: var(--border-radius);
  background: rgba(var(--card-rgb), 0);
  border: 1px solid rgba(var(--card-border-rgb), 0);
}

.card span {
  display: inline-block;
  transition: transform 200ms;
}

.card h2 {
  font-weight: 600;
  margin-bottom: 0.7rem;
}

.card p {
  margin: 0;
  opacity: 0.6;
  font-size: 0.9rem;
  line-height: 1.5;
  max-width: 30ch;
  text-wrap: balance;
}

/* Mobile */
@media (max-width: 700px) {
  .content {
    padding: 4rem;
  }

    .description {
    flex-direction: column;
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
    font-size: 0.8rem;
  }

  .description p {
    align-items: center;
    inset: 0 0 auto;
    padding: 2rem 1rem 1.4rem;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid rgba(var(--callout-border-rgb), 0.25);
    background: linear-gradient(
      to bottom,
      rgba(var(--background-start-rgb), 1),
      rgba(var(--callout-rgb), 0.5)
    );
    background-clip: padding-box;
    backdrop-filter: blur(24px);
  }

  .grid {
    grid-template-columns: 1fr;
    margin-bottom: 120px;
    max-width: 320px;
    text-align: center;
  }

  .card {
    padding: 1rem 2.5rem;
  }

  .card h2 {
    margin-bottom: 0.5rem;
  }

  .center {
    padding: 8rem 0 6rem;
  }

  .center::before {
    transform: none;
    height: 300px;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}

@media (prefers-color-scheme: dark) {
  .vercelLogo {
    filter: invert(1);
  }

  .logo {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
